<% content_for :navigation do %>
          <li><%= link_to 'New Note', new_note_path %></li>
<% end %>

<h2>Listing Notes</h2>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'>Show</th>
      <th class='col-md-1'>Edit</th>
      <th class='col-md-1'>Destroy</th>
      <th class='col-md-2'>Title</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to 'Show', note, class: 'btn btn-sm btn-info', role: 'button' %></td>
        <td><%= link_to 'Edit', edit_note_path(note), class: 'btn btn-sm btn-success', role: 'button' %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-warning', role: 'button' %></td>
        <td><%= note.title %></td>
        <td><%= note.text.length >50 ? note.text[0, 46]+'...' : note.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

