<% content_for :navigation do %>
          <li><%= link_to 'Article', article_path(@note.section.article) %></li>
          <li><%= link_to 'Section', section_path(@note.section) %></li>
          <li><%= link_to 'New Note', new_section_note_path(@note.section) %></li>
          <li><%= link_to 'Edit Note', edit_note_path(@note) %></li>
          <li><%= link_to 'Destroy Note', @note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% if @previous_note %>
            <li><%= link_to '<<==', note_path(@previous_note) %></li>
          <% end %>
          <% if @next_note %>
            <li><%= link_to '==>>', note_path(@next_note) %></li>
          <% end %>
<% end %>

<h2 class="text-center">
  <%= @note.title %>
</h2>

<% renderer = Redcarpet::Render::HTML.new(render_options = {escape_html: true}) %>
<% markdown = Redcarpet::Markdown.new(renderer, :autolink => true, :space_after_headers => true) %>
<%= markdown.render(@note.text).html_safe %>
