<% content_for :navigation do %>
          <li><%= link_to 'Index', notes_path %></li>
          <li><%= link_to 'New Note', new_note_path %></li>
          <li><%= link_to 'Edit', edit_note_path(@note) %></li>
          <li><%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>

<h2 class="text-center">
  <%= @note.title %>
</h2>

<% renderer = Redcarpet::Render::HTML.new(render_options = {escape_html: true}) %>
<% markdown = Redcarpet::Markdown.new(renderer, :autolink => true, :space_after_headers => true) %>
<%= markdown.render(@note.text).html_safe %>
