<% content_for :navigation do %>
  <li>
    <%= link_to(@article) do %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><%= t('Article') %>
    <% end %>
  </li>
  <li>
    <%= link_to(@section) do %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><%= t('Section') %>
    <% end %>
  </li>
  <% if(@prev_note) then %><li><% else %><li class="disabled"><% end %>
    <%= link_to(@prev_note || '#') do %>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    <% end %>
  </li>
  <% if(@next_note) then %><li><% else %><li class="disabled"><% end %>
    <%= link_to(@next_note || '#') do %>
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    <% end %>
  </li>
  <% if (@article.user == current_user) || @article.w_public? %>
    <li><%= link_to t('New_Note'), new_section_note_path(@section) %></li>
    <li><%= link_to t('Edit_Note'), edit_note_path(@note) %></li>
    <li><%= link_to t('Delete_Note'), @note, method: :delete, data: { confirm: t('Are_you_sure') } %></li>
  <% end %>
<% end %>

<h2 class="text-center">
  <%= @note.title %>
</h2>

<% renderer = Redcarpet::Render::HTML.new(render_options = {escape_html: true}) %>
<% markdown = Redcarpet::Markdown.new(renderer, no_intra_emphasis: true, tables: true, lax_spacing: true, space_after_headers: true) %>
<% text = markdown.render(@note.text).gsub("<table>", "<table class=\"table table-bordered\">") %>
<%= evaluate(parse(text)).html_safe %>
