<%= form_for(@article, multipart: true) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, {class: "form-control", placeholder: "title"} %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, {class: "form-control", placeholder: "author"} %>
  </div>
  <div class="form-group">
    <%= f.label :language, "For example, ja、en-US" %><br>
    <%= f.text_field :language, {class: "form-control", placeholder: "language"} %>
  </div>
  <div class="form-group">
    <%= f.label :modified_datetime %><br>
    <%= f.datetime_select :modified_datetime, include_seconds: true %>
  </div>
  <div class="form-group">
    <%= f.label :identifier_uuid, "Identifierd_UUID can be empty. Then new UUID will automatically generate." %><br>
    <%= f.text_field :identifier_uuid, {class: "form-control", placeholder: "uuid"} %>
  </div>
  <div class="form-group">
    <%= f.label :cover_image, "Cover page Jpeg Data. If no file is selected, cover page won't be changed." %><br>
    <% if @article.icon_base64 %>
      <%= image_tag("data:image/png;base64," + @article.icon_base64, size: "32x32", alt: "<表紙画像>") %> 
    <% end %>
    <%= f.file_field :cover_image, accept: 'image/jpeg' %>
  </div>
  <div class="form-group">
    <%= f.label :css %><br>
    <%= f.text_area :css, options={class: "form-control",rows: "5", placeholder: "css"} %>
  </div>

  <div class="checkbox">
    <label>
    <%= f.check_box :r_public %> r_public
    </label>
  </div>
  <div class="checkbox">
    <label>
    <%= f.check_box :w_public %> w_public
    </label>
  </div>

  <% if ! @article.section_order.blank? %>
    <div class="form-group">
      <h5><strong>Change ordering</strong></h5>
      <%= f.hidden_field :section_order %>
      <p>
      You can change the order of the sections by dragging it which you want to move.
      </p>
      <ul id="sortable">
        <% as = ArrayString.new(@article.section_order) %>
        <% as.each do |no| %>
          <% section = @article.sections.find(no) %>
          <li class="ui-state-default" id="<%=section.id%>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= section.heading %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <% if ! @article.section_order.blank? %>
    <%= f.submit options={class: "btn btn-primary", id: "edit_article_submit"} %>
  <% else %>
    <%= f.submit options={class: "btn btn-primary"} %>
  <% end %>
  </div>
<% end %>
