<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, options={class: "form-control", placeholder: "title"} %>
  </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author, options={class: "form-control", placeholder: "author"} %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, options = {}, html_options = {} %>
  </div>
  <div class="checkbox">
    <label>
    <%= f.check_box :r_public %> r_public
    </label>
  </div>
  <div class="checkbox">
    <label>
    <%= f.check_box :w_public %> w_public
    </label>
  </div>

  <% if ! @article.section_order.blank? %>
    <div class="form-group">
      <h5><strong>Change ordering</strong></h5>
      <%= f.hidden_field :section_order %>
      <p>
      You can change the order of the sections by dragging it which you want to move.
      </p>
      <ul id="sortable">
        <% as = ArrayString.new(@article.section_order) %>
        <% as.each do |no| %>
          <% section = @article.sections.find(no) %>
          <li class="ui-state-default" id="<%=section.id%>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= section.heading %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <% if ! @article.section_order.blank? %>
    <%= f.submit options={class: "btn btn-primary", id: "edit_article_submit"} %>
  <% else %>
    <%= f.submit options={class: "btn btn-primary"} %>
  <% end %>
  </div>
<% end %>
