<% if login? %>
  <% content_for :navigation do %>
     <li><%= link_to t('New_Article'), new_article_path %></li>
  <% end %>
<% end %>

<h2><%= t('Listing_Articles') %></h2>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'><%= t('Show') %></th>
      <th class='col-md-1'><%= t('Cover') %></th>
      <th class='col-md-3'><%= t('Title') %></th>
      <th class='col-md-3'><%= t('Author') %></th>
      <th class='col-md-5'>Modified_Datetime</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to t('Show'), article, class: 'btn btn-sm btn-info', role: 'button' %></td>
        <% if article.icon_base64 %>
          <td><%= image_tag("data:image/png;base64," + article.icon_base64, size: "32x32", alt: "<cover image>") %> </td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.modified_datetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

