<% if login? %>
  <% content_for :navigation do %>
     <li><%= link_to 'New Article', new_article_path %></li>
  <% end %>
<% end %>

<h2>Listing Articles</h2>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'>Show</th>
      <th class='col-md-1'>Cover</th>
      <th class='col-md-3'>Title</th>
      <th class='col-md-3'>Author</th>
      <th class='col-md-5'>Modified_Datetime</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to 'Show', article, class: 'btn btn-sm btn-info', role: 'button' %></td>
        <% if article.icon_base64 %>
          <td><%= image_tag("data:image/png;base64," + article.icon_base64, size: "32x32", alt: "<表紙画像>") %> </td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.modified_datetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

