<% content_for :navigation do %>
  <li>
    <%= link_to articles_path do %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span><%= t('List_Articles') %>
    <% end %>
  </li>
  <% if login? %>
    <li><%= link_to t('new_article'), new_article_path %></li>
    <li><%= link_to t('edit_article'), edit_article_path(@article) %></li>
    <li><%= link_to t('destroy_article'), @article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to t('new_section'), new_article_section_path(@article) %></li>
  <% end %>
<% end %>

  <h1><%= @article.title %>
  <small>
    <% if @article.icon_base64 %>
      <%= image_tag("data:image/png;base64," + @article.icon_base64, size: "32x32", alt: "<表紙画像>") %> 
    <% end %>
    <span style='padding-left: 30px'><%= @article.author %> / <%= @article.modified_datetime %></span>
    <% if current_user == @article.user %>
      <%= link_to 'Epub', "#{@article.id}/epub", class: 'btn btn-sm btn-warning', role: 'button' %>
    <% end %>
  </small>
  </h1>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'><%= t('show') %></th>
      <th class='col-md-11'><%= t('section_heading') %></th>
    </tr>
  </thead>

  <tbody>
    <% @article.ordered_sections.each do |section| %>
      <tr>
        <td><%= link_to t('show'), section, class: 'btn btn-sm btn-info', role: 'button' %></td>
        <td><%= section.heading %></td>
      </tr>
    <% end %>
  </tbody>
</table>

