<% content_for :navigation do %>
          <li><%= link_to 'List Articles', articles_path %></li>
          <li><%= link_to 'New Article', new_users_article_path %></li>
          <li><%= link_to 'Edit Article', edit_article_path(@article) %></li>
          <li><%= link_to 'Destroy Article', @article, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <li><%= link_to 'New Section', new_article_section_path(@article) %></li>
<% end %>

<div class="page-header jumbotron">
  <h1><%= @article.title %>
  <small>
    <span style='padding-left: 30px'><%= @article.author %> / <%= @article.date %></span>
  </small>
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'>Show</th>
      <th class='col-md-11'>Section heading</th>
    </tr>
  </thead>

  <tbody>
    <% @article.ordered_sections.each do |section| %>
      <tr>
        <td><%= link_to 'Show', section, class: 'btn btn-sm btn-info', role: 'button' %></td>
        <td><%= section.heading %></td>
      </tr>
    <% end %>
  </tbody>
</table>

