<h1>
  <%= t('Log_in')+' ' %><small class="h4 text-secondary"><%= t('Input_email_password') %></small>
</h1>

<%= form_with url: "/logins/create", method: "post" do |f| %>
  <div class="mb-3">
    <%= f.label :email, t('Email'), class: "form-label" %><br>
    <%= f.text_field :email, class: "form-control", placeholder: t('Email') %>
  </div>
  <div class="mb-3">
    <%= f.label :password, t('password'), class: "form-label" %><br>
    <%= f.password_field :password, class: "form-control", placeholder: t('password') %>
  </div>
  <div class="mb-3">
    <%= f.submit t('Log_in'), class: "btn btn-primary" %>
  </div>
<% end %>
