<h2><%= t('listing_users') %></h2>

<table class='table'>
  <thead>
    <tr>
      <th class='col-md-1'><%= t('Delete') %></th>
      <th class='col-md-3'><%= t('Name') %></th>
      <th class='col-md-3'><%= t('Email') %></th>
      <th class='col-md-5'><%= t('Admin') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to t('Delete'), "/admin/users/#{user.id}",
                           data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'},
                           class: 'btn btn-danger btn-sm', role: 'button' %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
