<h2><%= t('listing_users') %></h2>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'><%= t('Delete') %></th>
      <th class='col-md-3'><%= t('Name') %></th>
      <th class='col-md-3'><%= t('Email') %></th>
      <th class='col-md-5'><%= t('Admin') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to t('Delete'), "/admin/users/#{user.id}", {method: :delete, data: { confirm: t('Are_you_sure') },
               class: 'btn btn-sm btn-danger', role: 'button'} %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

