<%= form_for(@user, {url: user_path, method: @method, locale: I18n.locale}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.id #i.e. when editting (@user.id == nil when new) %>
    <h2><%= t('Authentication') %></h2>
    <p><%= t('password_before_edit_profile') %></p>
    <div class="form-group">
      <%= label_tag :current_password, t('current_password') %><br>
      <%= password_field_tag :current_password, nil, {class: "form-control", placeholder: t('current_password')} %>
    </div>
    <hr>
    <h2><%= t('Edit_your_profile') %></h2>
    <p><%= t('do_not_fill_in') %></p>
  <% end %>
  <div class="form-group">
    <%= f.label t('name') %><br>
    <%= f.text_field :name, options={class: "form-control", placeholder: t('name')} %>
  </div>
  <div class="form-group">
    <%= f.label t('email') %><br>
    <%= f.text_field :email, options={class: "form-control", placeholder: t('email')} %>
  </div>
  <div class="form-group">
    <%= f.label t('email_confirmation') %><br>
    <%= f.text_field :email_confirmation, options={class: "form-control", placeholder: t('email_confirmation')} %>
  </div>
  <div class="form-group">
    <%= f.label t('password') %><br>
    <%= f.password_field :password, options = {class: "form-control", placeholder: t('password')} %>
  </div>
  <div class="form-group">
    <%= f.label :"password\sconfirmation" %><br>
    <%= f.password_field :password_confirmation, options = {class: "form-control", placeholder: "password confirmation"} %>
  </div>
  <div class="form-group">
    <%= f.submit options={class: "btn btn-primary"} %>
  </div>
<% end %>
