<%= form_for @user, url: 'user/destroy', method: 'post' do |f| %>
  <h2><%= t('Authentication_needed') %></h2>
  <p><%= t('password_before_delete_account') %></p>
  <div class="form-group">
    <%= f.label t('password') %><br>
    <%= f.password_field :password, options = {class: "form-control", placeholder: t('password')} %>
  </div>
  <div class="form-group">
    <%= f.submit t('submit'), options={class: "btn btn-primary"} %>
  </div>
<% end %>
