<% content_for :navigation do %>
  <li class="nav-item">
    <%= link_to articles_path, class: "nav-link" do %>
      <%= t('List_Articles') %>
    <% end %>
  </li>
<% end %>

<h1>
  <span><%= @user.name %></span>
  <%= link_to t('Edit'), edit_user_path, class: "btn btn-primary", role: "button" %>
  <%= link_to t('Backup_data'), user_backup_path, class: "btn btn-primary", role: "button" %>
  <%= link_to t('Restore_data'), user_upload_path, class: "btn btn-primary", role: "button" %>
  <%= link_to t('Reset'), user_reset_path, class: "btn btn-danger", role: "button" %>
  <%= link_to t('Delete_Account'), user_path, data: {turbo_method: :delete, turbo_confirm: t('Are_you_sure') }, class: "btn btn-danger", role: "button" %>
</h1>

<p><%= t('backup_except_image') %></p>
<h3><%= t('Profile') %></h3>
<table class="table">
  <thead>
    <tr>
      <th class='col-md-2'><%= t('Key') %></th><th class='col-md-10'><%= t('Value') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class='col-md-2'><%= t('Name') %></td><td class='col-md-10'><%= @user.name %></td>
    </tr>
    <tr>
      <td class='col-md-2'><%= t('Email') %></td><td class='col-md-10'><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<h3>Articles</h3>
<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'><%= t('Show') %></th>
      <th class='col-md-3'><%= t('Title') %></th>
      <th class='col-md-3'><%= t('Author') %></th>
      <th class='col-md-5'><%= t('modified_datetime') %></th>
    </tr>
  </thead>

  <tbody>
    <% @user.articles.each do |article| %>
      <tr>
        <td><%= link_to t('Show'), article, class: 'btn btn-sm btn-info', role: 'button' %></td>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.modified_datetime %></td>
      </tr>
    <% end %>
  </tbody>
</table>
