<% content_for :navigation do %>
  <li class="nav-item">
    <%= link_to articles_path, class: "nav-link" do
      svg_icon('arrow-up') + t('List_Articles')
    end %>
  </li>
  <li class="nav-item">
    <%= link_to (@prev_section || '#'), class: (@prev_section ? "nav-link" : "nav-link disabed") do
      svg_icon('arrow-left')
    end %>
  </li>
  <li class="nav-item">
    <%= link_to @next_section || '#', class: (@next_section ? "nav-link" : "nav-link disabed") do
      svg_icon('arrow-right')
    end %>
  </li>
  <% if edit_permission? @article %>
    <li class="nav-item"><%= link_to t('New_Section'), new_article_section_path(@article), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t('Edit_Section'), edit_section_path(@section), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t('New_Note'), new_section_note_path(@section), class: "nav-link" %></li>
  <% end %>
  <% if destroy_permission? @article %>
    <li class="nav-item"><%= link_to t('Delete_Section'), @section, data: {turbo_method: :delete,  turbo_confirm: 'Are you sure?'}, class: "nav-link" %></li>
  <% end %>
<% end %>

<h2><%= @section.heading %></h2>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'><%= t('Show') %></th>
      <th class='col-md-2'><%= t('Title') %></th>
      <th class='col-md-9'><%= t('Text') %></th>
    </tr>
  </thead>

  <tbody>
  <% if @section.note_order %>
    <% as = ArrayString.new(@section.note_order) %>
    <% as.each do |no| %>
      <% note = @section.notes.find(no) %>
      <tr>
        <td> <%= link_to t('Show'), note, class: 'btn btn-sm btn-info', role: 'button' %> </td>
        <td> <%= note.title %> </td>
        <td> <%= note.text.length >50 ? note.text[0, 46]+'...' : note.text %> </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
