<%= form_with model: @image do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label t('Name'), class: "form-label" %><br>
    <%= f.text_field :name, {class: "form-control", placeholder: "Name"} %>
  </div>
  <div class="mb-3">
    <%= f.label t('image'), class: "form-label" %><br>
    <%= f.file_field :image, accept: 'image/jpeg', class: "form-control" %>
  </div>
  <div style="margin-top:5px;">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
