<% if login? %>
  <% content_for :navigation do %>
     <li><%= link_to 'New Image', new_note_image_path(@note) %></li>
     <li><%= link_to 'Show note', note_path(@note) %></li>
  <% end %>
<% end %>

<h2>Listing Images in the <%= @note.title %></h2>

<table class="table">
  <thead>
    <tr>
      <th class='col-md-1'>Edit</th>
      <th class='col-md-1'>Name</th>
      <th class='col-md-3'>Image</th>
      <th class='col-md-3'>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to 'Edit', edit_note_image_path(image.note, image), class: 'btn btn-sm btn-info', role: 'button' %></td>
        <td><%= image.name %></td>
        <% if image.image %>
          <td><%= image_tag("data:image/jpeg;base64," + Base64.strict_encode64(image.image), height: "144", alt: "#{image.name}の画像") %> </td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Delete', "/notes/#{image.note.id}/images/#{image.id}", method: :delete, class: "btn btn-danger", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

