<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WNote</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to 'WNote', root_path, class: 'navbar-brand'%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <%= content_for :navigation %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if login? %>
                <%= current_user.name %>
              <% else %>
                <%= t('Guest') %>
              <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-1">
              <% if login? %>
                <li><%= link_to t('Index_Image'), images_url, class: "dropdown-item" %></li>
                <li><%= link_to t('New_Image'), new_image_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to t('Profile'), user_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to t('Log_out'), logins_destroy_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to t('Log_in'), logins_new_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to t('Sign_up'), new_user_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <% if admin? %>
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t('Admin') %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2">
                <li><%= link_to t('List_Users'), admin_list_users_path, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('language.language') %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-3">
              <li><%= link_to t('language.en'), change_locale('en'), class: "dropdown-item" %></li>
              <li><%= link_to t('language.ja'), change_locale('ja'), class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
  </div>
  <div class="container">
    <div class="wnote-main">
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
